:root {
  --primary-color: #ff9854;
  --van-search-left-icon-color: var(--primary-color) !important;
}

body {
  font-size: 14px;
}

/* 隐藏tabbar-方案二 */
.top-page {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}
